table{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    width: 60rem;
    border:2px solid black;
}
thead{
    height: 3rem;
    font-size: 1.5rem;
    background: #4854f4;
    font-weight: 700;
    color: white;
}
i{
    color: #70ad47;
    font-weight: 600;
}
